.custom-menu-item-selected {
  background-color: rgb(255, 130, 2) !important;
  font-weight: 500;
}

.custom-menu-border {
  border-right: 3px solid rgb(255, 130, 2);
}

.custom-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
}
