.custom-playlist-container {
  margin-top: 48px;
}

.custom-playlist-title {
  color: #ccc;
  font-size: 18px;
}

.custom-playlist-seeall {
  font-size: 12px;
  color: #cccc;
  cursor: pointer;
}

.custom-playlist-text {
  font-weight: 500;
}

.custom-playlist-icon {
  margin-left: 10px;
}

.custom-playlist-card {
  width: 230px;
  height: 230px;
  margin-top: 20px;
}

.custom-playlist-card-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.custom-playlist-card-song {
  float: left;
  color: #ccc;
  font-size: 14px;
  margin-top: 12px;
  text-align: left;
}

.custom-playlist-card-desc {
  float: left;
  font-size: 14px;
  color: #cccc;
  text-align: left;
  width: 100%;
  height: 40px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
